<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/toastr.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/toastr.min.js"></script>
    <script src="/javascripts/codigo.js"></script>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
          



  </head>
  <body>
    {{{body}}}
  </body>
</html>
